node_modules
docs
coverage
.eslintcache
minified
cypress/screenshots
cypress/videos
build
.vscode
./source/.vscode
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/cse112-sp22-group8.iml
.idea/modules.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
**/.DS_Store
.eslintrc.json
source/.idea/modules.xml
source/.idea/source.iml
source/.idea/vcs.xml
source/.idea/workspace.xml
source/.idea/jsLinters/eslint.xml
source/.idea/inspectionProfiles/Project_Default.xml
