
body{
    background-image: linear-gradient(to right,#E0EAFC,#CFDEF3);
    font-family: 'Poppins', sans-serif;
}

#currTask{
    color:black;
    font-size: 50px;
}

.row{
    width: 100%;
}

h4{
    font-size: 100px;
    font-weight: bold;
    color: #353535;
}

.timer{
    color: black;
    text-align: center;
    width: 27.5rem;
    height: 27.5rem;
    border: 40px solid rgba(46, 71, 86, 0.25);
    border-radius: 13.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.progress-ring{
    position:absolute;
}

.progress-ring-circle {
    transition: 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

button{
    /*position: absolute;
    top:82%;*/
    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 30px;
    transition: 0.5s ease-in-out;
    text-align: center;
    font-weight: lighter;
}

.start{
    left:10%;
}

#button-container{
    padding-top: 20px;
    padding-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#distraction-btn{
    color:white;
    background-color: #2E4756;
    border-radius: 70px;
    height:70px ; 
    width:270px;
    align-self: center;
}

#fail-btn{
    color:white;
    background-color: #EF7869;
    border-radius: 70px;
    height:70px ; 
    width:130px;
}
