img {
    margin-top:    15px;
    margin-bottom:  0px;
}

button {
    background-color:#2e4756;
    color: #C4C4C4;
    font-size: 20px;
    margin-left:  20px;
    margin-right: 20px;
    padding: 8px 14px;
    border-radius: 20px;
}

h1 {
    margin-bottom: 0px;
}

h2{
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    font-size: 30px;
    font-weight: bold;
    margin-top :  15px;
    margin-bottom: 0px;
}

.row{
    margin-top: 2%;
}

.main-contents {
    justify-content: center;
    align-items: center;
}

.block-containers {
    float:left; 
  
    border-style:solid; 
    border-width: thin;
    border-color: grey;
    border-radius:10px;  
    margin-right:2%; 
    background-color:white;
    box-shadow: 0 0 5px grey;
}

.block-contents {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

