/* Styles for index.html and Modals */

/* Body background and font */
head,
body {
  background: #e5e5e5;
  margin: 0 0;
  overflow-x: hidden;
  color: #2e4756;
  font-family: "Poppins", sans-serif;
}

#heading-container{
  margin-left: 15%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#heading-container-btns{
  display: flex;
  margin-top: 1%;
}

#info-container{
  padding-left: 1em;
}

#info{
  width: 2em;
  background-color: #828282;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 50px;
  height: 2em;
}

h1 {
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-top: 0;
}

#header-divider {
  border: 1px solid #000000 !important;
  margin-left: 7.5rem !important;
  margin-right: 5.5rem !important;
}


hr {
  border: 1px solid #000000;
  /* transform: rotate(-0.08deg); */
}


#todo-title {
  margin-top: 2%;
}

.center {
  margin: auto;
  text-align: center;
}

/* Styles for Add task button */
.add-task-btn {
  float: right;
  font-family: "Poppins", sans-serif;
  color: #e5e5e5;
  font-size: 15px;
  font-weight: 550;
  padding: 10px 15px;
  border-radius: 40px;
  background: #2e4756;
}
.add-task-btn:hover {
  color: #e5e5e5;
  background: #64838c;
}

#add-task-btn-bottom {
  float: left;
  font-size: 18px;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
.bottom-add-task{
  margin-top: 2%;
  padding-top: 0.5%;
  padding-left: 1%;
}

#back-to-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  background-color: #2e4756;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

#stats-btn{
  background: #E5E5E5;
  color: #2e4756 !important;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 99;
  padding-top: 2px;
  border-radius: 55%;
  box-shadow: none;
  vertical-align:center;
  justify-content: center;
}

#stats-btn > span{
 padding: 2px 5px;
}

/* Styles for Modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;

  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

form div {
  padding-top: 10px;
  padding-left: 20px;
  margin: 30px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

/* Section for minor adjustment on each modal */
#add-task-modal-header,#edit-task-modal-header, #delete-modal-header{
  border-bottom: none;
}
#timer-name{
  padding-left: 5%;
}
#timer-note{
  background-color: #fefefe;
  font-size: 1.5rem;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  box-shadow: none !important;
  text-decoration: none;
  cursor: pointer;
}

.confirm-btn{
  background: #EF7869 !important;
}
.submit-btn, .confirm-btn {
  float: right;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 550;
  border-radius: 40px;
  background: #2e4756;
  width: 145px;
  height: 61px;
  margin-right: 23px;
  align-items: center;
  text-align: center;

}

.cancel-btn {
  float: right;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 550;
  width: 145px;
  height: 61px;
  border-radius: 40px;
  background: #c4c4c4;
  align-items: center;
  text-align: center;
}

.taskform-entry {
  margin-bottom: 25px;
  padding-bottom: 0px;
}

#close-btn{
  float:right;
  height: 2em;
  width: 2em;
}

#info:hover{
  background-color: #c4c4c4;
}

.modal-info{
  position:fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content-info{
  background-color: #fefefe;
  padding: 30px;
  width: 50%;
  height: 70%;
  margin-top: 9%;
  margin-left: 27%;
  box-shadow: 0 5px 8px 0;
  overflow: auto;
}

#btn1{
  width: 8em;
}

#btn2{
  margin-left: 3em;
  width:2em;
  margin-right:3.2em;
}

#btn3{
  margin-left: 3em;
  width:2em;
  margin-right:3.1em;
}

#btn4{
  margin-left: 2.4em;
  width:3.5em;
  margin-right:2.2em;
}

#btn5{
  margin-left: 2.4em;
  width:3.5em;
  margin-right:2.2em;
}

#btn6{
  margin-left: 2.4em;
  width:3.5em;
  margin-right:2.2em;
}

h6{
  padding-left: 4em;
}

.describe{
  font-size: 1.5em;
  padding-left: 5em;
}

h3{
  color: #2e4756;
  font-weight: 300;
}

#small-text{
  color: red;
}