/* Styles for index.html */

/* Body background and font */
head,
body {
  background: #e5e5e5;
  margin: 0 0;
  color: #2e4756;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-top: 5%;
  margin-left: 20%;
  padding-right: 20%;
}

h2 {
  margin-top: 0;
}

hr {
  border: 1px solid #000000;
  transform: rotate(-0.08deg);
}

#todo-title {
  margin-top: 2%;
}
.center {
  margin: auto;
  text-align: center;
}

/* Styles for Add task button */
.add-task-btn {
  float: right;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #e5e5e5;
  font-size: 15px;

  padding: 10px 15px;
  border-radius: 40px;
  background: #2e4756;
}
.add-task-btn:hover {
  color: #e5e5e5;
  background: #64838c;
}
#add-task-btn-bottom {
  float: left;
  margin-top: 2%;
  margin-left: 10%;
}

/* Styles for Modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
