
section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  font-size: 1.5rem;
  
  border: 1px solid rgba(46, 71, 86, 0.075);
  border-radius: 10px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

section:hover {
  opacity: 1;
  
}

/*
 * Section for the checkbox in task item
 */
input {
  color: #e5e5e5;
  width: 1.3em;
  height: 1.3em;
  border-color: #e5e5e5;
}

input:checked {
  background-color: #2e4756;
  border-color: #2e4756;
}
input:focus {
  border-color: #e5e5e5;
  box-shadow: 0 0 0 0.2rem rgba(46, 71, 86, 0.3);
}

/*
 * Section for the text of task in task item
 */
p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  color: #2e4756;
  border: none;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom:0%;
  text-shadow: none;
  box-shadow: none;
}

button:disabled {
  cursor: auto;
  opacity: 0.5;
}

.material-icons {
  font-family: 'Material Icons';

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
