/* Styles for Task list */

/*
 * Section for the form to add task 
 * Will be deleted once the modal of add task is completed.
*/
/* form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* form input {
  background-color: antiquewhite;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
}
form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #d88771;
  color: white;
} */

/*
 * Section for Modal content
 */

form div {
  padding-top: 10px;
  padding-left: 20px;
  margin: 30px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

.submit-btn {
  float: right;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 550;
  border-radius: 40px;
  background: #2e4756;
  width: 145px;
  height: 61px;
  margin-right: 23px;
  align-items: center;
  text-align: center;
}

.cancel-btn {
  float: right;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 550;
  width: 145px;
  height: 61px;
  border-radius: 40px;
  background: #c4c4c4;
  align-items: center;
  text-align: center;
}

.taskform-entry {
  margin-bottom: 25px;
  padding-bottom: 0px;
}

/* //////////////////////////////////////////////////////////////// */

/*
 * Section for the task container
 */
#main-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #d88771; */

  max-width: 75%;
  max-height: 100%;
  margin: 0 auto;
  padding: 10px;
}

/*
 * Section for the task item in list
 */
.taskNode {
  display: flex;
  align-items: center;
  background: white;

  margin: 0.5rem;
  padding: 0;
  min-width: 100%;
  height: 4rem;
  font-size: 1.5rem;

  border: 1px solid rgba(46, 71, 86, 0.075);
  border-radius: 10px;
  transition: all 0.5s ease;
}

/* Section for drag button */
.drag-btn {
  margin-right: 3%;
  position: inline-block;
  text-align: center;
  line-height: inherit;
  background-color: rgba(46, 71, 86, 0.055);
  border-radius: 10px;
}

/*
 * Section for the checkbox in task item
 */
.form-check-input[type="checkbox"] {
  color: #e5e5e5;
  border-radius: 50% !important;
  width: 1.3em;
  height: 1.3em;
  border-color: #e5e5e5;
}

.form-check-input[type="checkbox"]:checked {
  background-color: #2e4756;
  border-color: #2e4756;
}
.form-check-input[type="checkbox"]:focus {
  border-color: #e5e5e5;
  box-shadow: 0 0 0 0.2rem rgba(46, 71, 86, 0.3);
}

/*
 * Section for the text of task in task item
 */
p.task-item {
  margin: 0;
  white-space: nowrap;
  /* min-width: 0%;
  max-width: 50%; */
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Section for progress-bar */
.progress {
  width: 25% !important;
}

.progress-bar {
  /* width: 25% !important; */
  background-color: rgba(46, 71, 86, 0.75) !important;
}

/* Section for dropdown menu */
.dropright {
  background-color: #00000000;
}
.dropdown-toggle::after {
  display: none !important;
}
#dropdownMenuButton {
  background-color: #00000000;
  color: rgba(46, 71, 86);
  border: none;
}
#dropdownMenuButton:focus {
  box-shadow: none;
}

/* Section for the play button in task */
a {
  color: #2e4756 !important;
  height: inherit;
}
a:hover {
  opacity: 0.5;
}
a > img {
  border-radius: 75%;
}

/* For material icon adjustment */
.material-icons {
  font-size: 48px !important;
  font-weight: bold;
}

button {
  border: none;
  background: #00000000;
}

.play-btn,
.edit-btn {
  background: 00000000;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Section for the delete animation */
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
