.brand {
  padding: 5px;
  margin-right: 1rem;
}

.dot {
  background-color: var(--gradient-light);
}

.filled-dot {
  background: linear-gradient(var(--accent-light), var(--accent-dark));
}

a {
  width: 60px;
  height: 60px;
  padding: 5px;
}

button{
  background-color: transparent;
  border: none;
  color: var(--gradient-light);
  cursor: pointer;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 3em;
  padding: 10px;
  justify-self: end;
  text-shadow: 1px 1px 0.2rem var(--medium-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:enabled {
  text-shadow: 1px 1px 0.1rem var(--medium-color);
}

button:hover:enabled {
  animation: button-pop;
  transform: scale(1.2);
  animation-duration: 0.25s;
}

button:active:enabled {
  animation: button-click;
  transform: scale(1);
  animation-duration: 0.25s;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

dialog {
  border-style: none;
  box-shadow: 1px 1px 0.5rem var(--primary-color);
}

dialog h2 {
  color: var(--primary-color);
}

dialog button {
  color: var(--primary-color);
}

div {
  display: flex;
  justify-self: flex-start;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  color:var(--light-color);
  font-size: 2em;
  font-weight: 1;
  /* grid-area: title; */
  margin: 0;
  text-align: left;
}

nav {
  align-content: stretch;
  align-items: center;
  grid-area: stats;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  /* justify-content: flex-end; */
  justify-items: center;
  padding: 10px;
}

nav[hidden='true'] {
  visibility: hidden;
}

section {
  background: var(--linear-gradient-dark);
  box-shadow: 1px 1px 0.5rem var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

section > div {
  display: flex;
  flex-wrap: wrap;
}

span {
  height: 10px;
  width: 10px;
  padding: 10px;
  margin: 5px;
  background-color: var(--light-color);
  border-radius: 77%;
  border: 2px solid var(--light-color);
  display: inline-block;
  
}

@media (min-width: 700px) {
  
  section{
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  
  section{
    justify-content: center;
  }
}

@keyframes button-pop {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.4);
  }
  
  100% {
    transform: scale(1.2);
  }
}

@keyframes button-click {
  0% {
    transform: scale(1.2);
  }
  
  50% {
    transform: scale(0.8);
  }
  
  100% {
    transform: scale(1);
  }
}