@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

:root {
    background: var(--gradient-medium);
}

body {
    background: linear-gradient(var(--gradient-light),var(--gradient-medium));
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.no-style {
    display: none;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currTask {
    display: inline;
    color: var(--dark-color);
    font-size: 3rem;
    text-align: center;
}

#deselect-task {
    background: transparent;
    color: var(--dark-color);
    box-shadow: none;
    cursor: pointer;
    font-family: 'Material Icons';
    margin: 0 0 0 1rem;
    padding: 0;
}

h4 {
    font-size: 5rem;
    font-weight: bold;
    color: var(--dark-color);
}

.timer {
    --border-size: 4px;

    color: var(--dark-color);
    text-align: center;
    border: var(--border-size) solid var(--medium-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.25rem;
    width: min(90%, 28rem);
}

.timer>.container {
    position: absolute;
}

.progress-ring-circle {
    transition: stroke-dashoffset 0.5s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

button {
    color: var(--btn-color);
    background: var(--linear-gradient-dark);
    box-shadow: 3px 5px 3px var(--medium-color);
    cursor: pointer;

    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    border-radius: 1rem;
}

button:hover,
button:focus {
    color: var(--medium-light-color);
    background: var(--linear-gradient-dark-reverse);
}

#create-task {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--light-color);
    border-radius: 1rem;
}

#create-task>label {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

#create-task>.label-heading {
    box-shadow: 0 0 0 0 var(--accent-dark);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    transition: box-shadow 1s ease;
}

#create-task>select {
    margin-bottom: 0.5rem;
}

#create-task>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
}

#create-task>#dont-show-container {
    justify-content: center;
}

#dont-show-container>label {
    margin-bottom: 0;
    margin-left: 0.25rem;
}

#create-skip {
    background: var(--linear-gradient-grey);
}

#create-skip:focus,
#create-skip:hover {
    background: var(--linear-gradient-grey-reverse);
}

#start-break-btn {
    align-self: center;
}

#start-break-btn.disable {
    opacity: 50%;
    color: var(--btn-color);
    background: var(--linear-gradient-dark);
    cursor: auto;
}

#distraction-btn {
    color: white;
    background-color: #2E4756;
    border-radius: 70px;
    height: 70px;
    align-self: center;
}

#fail-btn {
    background: var(--linear-gradient-accent);
}

#fail-btn:hover,
#fail-btn:focus {
    background: var(--linear-gradient-accent-reverse);
}

#start-btn {
    align-self: center;
}

input {
    font-size: 1.25rem;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label span {
    display: table-cell;
    vertical-align: middle;
}

.modal-break {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal-content-short_break {
    background-color: var(--light-color);
    padding: 1rem 0;
    width: min(100%, 25rem);
    margin: 2rem auto 0 auto;
    box-shadow: 0 5px 8px 0;
}

.heading-fail {
    font-size: 3.1rem;
    color: var(--primary-color);
    text-align: center;
}

#sad-face-container {
    text-align: center;
}

#sad-face {
    width: 7.5rem;
    height: 7.5rem;
}

.fail-buttons {
    font-family: "Poppins", sans-serif;
}

#fail-button {
    background: var(--linear-gradient-accent);
    width: 7ch;
}

#fail-button:focus,
#fail-button:hover {
    background: var(--linear-gradient-accent-reverse);
}

#cancel-button {
    background: var(--linear-gradient-grey);
}

#cancel-button:focus,
#cancel-button:hover {
    background: var(--linear-gradient-grey-reverse);
}

#fail-button-container {
    display: flex;
    justify-content: center;
}

#heading-break-complete {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
}

#button-task-container {
    text-align: center;
}

#button-container {
    align-items: flex-end;
}

.button-task-position {
    padding-top: 2rem;
}

.button-task {
    font-family: "Poppins", sans-serif;
}

#auto-continue {
    width: 80%;
}

#auto-continue-progress {
    animation: increaseProgress 5s linear;
    fill: var(--primary-color);
    height: 100%;
    width: 100%;
}

@keyframes increaseProgress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}