@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

:root {
    background: var(--gradient-medium);
}

body {
    background: linear-gradient(var(--gradient-light),var(--gradient-medium));
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.no-style {
    display: none;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currTask {
    display: inline;
    color: var(--dark-color);
    font-size: 3rem;
    text-align: center;
}

#deselect-task {
    background: transparent;
    color: var(--dark-color);
    box-shadow: none;
    cursor: pointer;
    font-family: 'Material Icons';
    margin: 0 0 0 1rem;
    padding: 0;
}

h4 {
    font-size: 5rem;
    font-weight: bold;
    color: var(--dark-color);
}

.timer {
    --border-size: 4px;

    color: var(--dark-color);
    text-align: center;
    border: var(--border-size) solid var(--medium-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.25rem;
    width: min(90%, 28rem);
}

.timer>.container {
    position: absolute;
}

.progress-ring-circle {
    transition: stroke-dashoffset 0.5s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

button {
    color: var(--btn-color);
    background: var(--linear-gradient-dark);
    box-shadow: 3px 5px 3px var(--medium-color);
    cursor: pointer;

    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    border-radius: 1rem;
}

button:hover,
button:focus {
    color: var(--medium-light-color);
    background: var(--linear-gradient-dark-reverse);
}

@keyframes increaseProgress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}